/* $Id: aggregator.css,v 1.2 2007/05/27 17:57:47 goba Exp $ */

#classifieds {
    font-size:1.1em;
}

#classifieds .cat {
    font-size:1.1em;
}

#classifieds #form_details {
    font-size:1.0em;
		
}

#classifieds .content-add-more{
    margin-bottom: 1.2em; 
}	


#classifieds #title {

    margin-left: -4px;
    margin-bottom: 0px;
}

#classifieds .image-title {
	font-weight: normal;
}

#classifieds #buttons {
    float: right;
}


#classifieds #edit-title,
#classifieds #edit-field-price-0-value,
#classifieds textarea{

	font-size: 1.2em;
}



#classifieds #form_photos #field-image-items {
    overflow: hidden;
}

/* For sale by field */
#edit-seller-0-wrapper,
#edit-seller-1-wrapper {
    float: left;
    margin-top: -0.3em;
}

#edit-seller-1-wrapper {
    padding-left: 2em;
}

#classifieds .class{
	clear: both;
}

#classifieds #edit-field-image-0-data-description, 
#classifieds #edit-field-image-1-data-description, 
#classifieds #edit-field-image-2-data-description, 
#classifieds #edit-field-image-3-data-description, 
#classifieds #edit-field-image-4-data-description, 
#classifieds #edit-field-image-5-data-description, 
#classifieds #edit-field-image-6-data-description, 
#classifieds #edit-field-image-7-data-description, 
#classifieds #edit-field-image-8-data-description, 
#classifieds #edit-field-image-9-data-description{
	width: 400px;
}	

#classifieds #classifieds-preview-statement-wrapper{
    text-align:center;
    padding: 10px 0 10px 0;
}

#classifieds #classifieds-preview-statement{
    /*background-color: #131F50;*/
    padding: 4px;
    padding-top: 10px;
    color: #131F50;
    font-size: 1.0em;
    font-weight: bold;
    font-style: italic;
    width:555px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #fff;
}


#classifieds #classifieds-preview-poc{
    /*background-color: #131F50;*/
    border:4px double #131F50;
    padding: 4px;
    font-size: 1.0em;
    font-weight: bold;
    font-style: italic;
    width:425px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #fff;
}

#classifieds #classifieds-preview-small{
    font-size: 0.8em;


}

#classifieds .preview{
   border:4px double #131f50;
   background-color: #fff;
   padding:4px;
   margin-top: 1.2em;
}


/*STEP 3: Print Ad Input Box */
#classifieds #edit-print-ad-wrapper .form-textarea{
    font-family:courier;
    font-size: 1.1em;	
	
}

/*STEP 3: Preview Print Ad */
#classifieds #classifieds-preview-wrapper{
    font-family:courier;
    font-size: 1.0em;
    border:1px solid #000;
    background-color: #ccc;
    padding:3px;
    width:295px;
}

/*STEP 3: Header */
#classifieds #classifieds-print-header{
	padding-top:1em;
	font-size: 1.1em;
}

#classifieds #classifieds-print-paper{
	float: left;
	padding-right: 6px;
}

#classifieds #edit-run-ad-wrapper{
	margin-top: -0.5em;
}

/*STEP 3: */
#classifieds .classifieds-calendar-month{
}	

#classifieds .classifieds-calendar-day{
    font-weight:bold;
}   

#classifieds #classifieds-preview-days-wrapper{
    text-align:center;
}

#classifieds #classifieds-preview-days-wrapper .description{
	font-size: 1.0em;
	margin-top: -1em;
}

#classifieds  #classifieds-calendar-none{
	text-align:left;
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 1em;
}

#classifieds .form-item #classifieds-calendar-none{
    margin-top: 2em;
}

/*Move state to the right of city */
#classifieds #edit-city-wrapper{
    float:left;
}
#classifieds #edit-state-wrapper{
    float:left;
    margin-left:4em;
}


/* Make checkboxes inline */
#classifieds .form-radios .form-item p, .form-checkboxes .form-item{
    display: inline;
}

#classifieds .form-item label.option, .form-checkboxes label.option{
    display:inline;
    font-weight:normal;
    position:relative;
    top:4px;
}

#classifieds .form-checkboxes, .form-radios {
    margin:0;
}

/* Add padding to details table */
#classifieds #classifieds-details-wrapper td{
    padding-right: 20px;
}

/* Fix checkboxes on step 3 */
#classifieds .form-checkboxes .form-item{
    display:block;
}

/* Fix gap between prev print runs and new print runs */
#classifieds #classifieds-run-ad{
    margin-top: -6px;
}