/* $Id: aggregator.css,v 1.2 2007/05/27 17:57:47 goba Exp $ */

/* SEARCH BLOCK */

#classifieds-filter-list {
    font-size:1.1em;
}

#classifieds-filter-list #title {

    margin-left: -4px;
    margin-bottom: 0px;
    margin-top:-15px;
}

#classifieds-filter-list label{

}

/* AD LISTINGS */

.classified-list .views-field-field-image-fid img{
    float: left;
    padding:1px;
        /*background-color:#131F50;*/
    border:1px solid #36c;
    margin-right: 0.5em;
    margin-top:0.5em;
}

.classified-list .views-field-nothing{
	clear: both;
}


.classified-list .view-content h3{
    text-align:center;
}

.classified-list .views-field-title, 
.classified-list .views-field-price{
  font-size: 1.1em;
  font-weight: bold;
}

.classified-list .views-field-state{
  font-size: 1.1em;
  
}

.classified-list .views-field-seller{
  float:right;
  font-style: italic;
}

.classified-list .views-field-body{
  height:6em;
  margin-top:0.5em;
}

.classified-list .views-row {
    padding:0.3em;
    background-color:#fff9f1;
    border:1px solid #cfc6b7;
    margin-bottom: 1em;	
}


.classified-list .item-list {
    width: 650px;
}

.classified-list ul.sub-cat {
    padding: 0px;
    margin-top: -1em;
}

.classified-list li.leaf:before{
    content: ' ~ ';
}

.classified-list li.first:before{
    content: '';
}

.classified-list li.leaf{
    display: inline;
    list-style-type: disc;
    padding-right: 3px;
    margin: 0px;
}


/* Give extra fields a bolded label name */
.classified-list label{
    font-weight: bold;
}

/* Remove extra spacing from third sub category drop down */
.classified-list #edit-third-cat-wrapper{
    margin-top: -10px;
    margin-bottom: 0px;
}