/* $Id: aggregator.css,v 1.2 2007/05/27 17:57:47 goba Exp $ */

/* FIX Approval Que Box */
#classifieds-censor-clerk-form #total-wrapper,
#classifieds-censor-clerk-form #total-edit-wrapper,
#classifieds-censor-clerk-form #total-new-wrapper,
#classifieds-censor-clerk-form #skipped-wrapper {
    float: left;
    padding-right: 70px;
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

#classifieds-censor-clerk-form #total-wrapper label,
#classifieds-censor-clerk-form #total-edit-wrapper label,
#classifieds-censor-clerk-form #total-new-wrapper label,
#classifieds-censor-clerk-form #skipped-wrapper label {
    float: left;
    padding-right: 5px;
}

/* FIX Ad Information Box */
#classifieds-censor-clerk-form #ad-status-wrapper,
#classifieds-censor-clerk-form #ad-taxonomy-wrapper {
    float: left;
    padding-right: 70px;
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

#classifieds-censor-clerk-form #ad-status-wrapper label,
#classifieds-censor-clerk-form #ad-taxonomy-wrapper label{
    float: left;
    padding-right: 5px;
}

/* FIX BUTTONS */
#classifieds-censor-clerk-form #edit-approve {
    font-size: 1.3em;
    width:120px;
}

#classifieds-censor-clerk-form #submit-approve-wrapper {
    margin-right: auto;
    margin-left: auto;
    width:120px;
    padding-bottom: 10px;
}

#classifieds-censor-clerk-form #edit-skip {
    font-size: 1.3em;
    width:70px;
}

#classifieds-censor-clerk-form #submit-skip-wrapper {
    margin-right: auto;
    margin-left: auto;
    width:70px;
    padding-bottom: 10px;
}

#classifieds-censor-clerk-form #edit-reject {
    font-size: 1.3em;
    width:70px;
}

#classifieds-censor-clerk-form #submit-reject-wrapper {
    margin-right: auto;
    margin-left: auto;
    width:70px;
    padding-bottom: 10px;
}

#classifieds-censor-clerk-form #edit-reject-confirm {
    font-size: 1.3em;
    width:200px;
}

#classifieds-censor-clerk-form #submit-reject-confirm-wrapper {
    margin-right: auto;
    margin-left: auto;
    width:200px;
    padding-bottom: 10px;
}

#classifieds-censor-clerk-form #edit-reject-reason{
    width: 300px;
}

#classifieds-censor-clerk-form #classifieds-censor-reject-wrapper{
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}